<div class="ui container" style="margin-top: 50px">

  <div class="ui ordered steps" style="width: 100%;">
    <div class="active step">
      <div class="content">
        <div class="title">Lié facebook</div>
        <div class="description">Vous pourrez ensuite directement
          <br> inviter vos amis depuis votre compte facebook</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">Créer sa classe</div>
        <div class="description">Définissez votre espace de travail</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">Préferences</div>
        <div class="description">Modifiez vos préferences</div>
      </div>
    </div>
  </div>


  <div *ngIf="auth.user | async; then authenticated else guest">

  </div>




  <!-- User NOT logged in -->
  <ng-template #guest>
    <div class="ui bottom attached segment">
      <h3>Howdy, GUEST</h3>
      <button type="buton" class="btn btn-block" (click)="auth.signInWithFacebook()">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Login with Facebook
      </button>
    </div>
  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
    <div class="ui bottom attached segment">
      <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img [src]="user?.avatar">
        <p>UID: {{ user.uid }}</p>
        <p>Avatar Url: {{ user?.avatar }} </p>
        <button (click)="auth.logout()">Logout</button>
      </div>
    </div>
    <div class="ui bottom attached segment">
      <h3>Choose a Username</h3>

      <input type="text" class="input" placeholder="choose a username" [(ngModel)]="usernameText" (keyup)="checkeUsername()">
      <p class="help is-success" *ngIf="usernameAvailable && usernameText">
        @{{usernameText}} is available
      </p>
      <p class="help is-danger" *ngIf="!usernameAvailable && usernameText">
        @{{usernameText}} has already been taken
      </p>
      <button class="button is-primary" [disabled]="!usernameAvailable || !usernameText" (click)="setName()">
        Select Username
      </button>
    </div>
  </ng-template>

  <div class="ui bottom attached segment">
    <!-- <input [(ngModel)]="content" placeholder="Choose your own username" class="input" name="username"> -->
    <!-- <button class="button is-success" (click)="setName()" [disabled]="content?.length < 2 || content?.length > 100"> -->
    <!-- Save -->
    <!-- </button> -->
  </div>
  <div class="ui bottom attached segment">
    <p>hello 3</p>
  </div>
</div>