<div class="ui container" style="margin-top: 50px">

  <div class="ui ordered steps" style="width: 100%;">
    <div class="active step">
      <div class="content">
        <div class="title">Lié facebook</div>
        <div class="description">Vous pourrez ensuite directement
          <br> inviter vos amis depuis votre compte facebook</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">Créer sa classe</div>
        <div class="description">Définissez votre espace de travail</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">Préferences</div>
        <div class="description">Modifiez vos préferences</div>
      </div>
    </div>
  </div>

  <div class="ui bottom attached segment">
    <p>hello 1</p>
  </div>

  <div class="ui bottom attached segment">
    <p>hello 2</p>
  </div>

  <div class="ui bottom attached segment">
    <p>hello 3</p>
  </div>

</div>
