<div class="ui container" style="margin-top: 50px">

  <div class="ui ordered steps" style="width: 100%;">
    <div class="active step">
      <div class="content">
        <div class="title">Lié facebook</div>
        <div class="description">Vous pourrez ensuite directement
          <br> inviter vos amis depuis votre compte facebook</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">Créer sa classe</div>
        <div class="description">Définissez votre espace de travail</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">Préferences</div>
        <div class="description">Modifiez vos préferences</div>
      </div>
    </div>
  </div>


  <div *ngIf="auth.user | async; then authenticated else guest">

  </div>




  <!-- User NOT logged in -->
  <ng-template #guest>
    <div class="ui bottom attached segment">
      <button type="buton" pButton class="ui-button-primary" (click)="auth.signInWithFacebook()" label="Login with Facebook">
      </button>
    </div>
  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
    <div class="ui bottom attached segment">
      <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        <img [src]="user?.avatar">
        <p>UID: {{ user.uid }}</p>
        <p>Avatar Url: {{ user?.avatar }} </p>
        <button (click)="auth.logout()">Logout</button>
      </div>
    </div>
    <div class="ui bottom attached segment">
      <h3>Choose a Username</h3>
      <div class="ui-g-12">
        <span class="ui-float-label">
          <input type="text" pInputText id="float-input" size="30" [(ngModel)]="usernameText" [ngClass]="{
                'ng-dirty ng-valid':usernameAvailable && usernameText,
                'ng-dirty ng-invalid':!usernameAvailable && usernameText
              }" (keyup)="checkUsername()">
          <label for="float-input">Username</label>
        </span>
      </div>


      <p class="help is-success" *ngIf="usernameAvailable && usernameText">
        <p-message severity="success" text="available"></p-message>
      </p>

      <p class="help is-danger" *ngIf="!usernameAvailable && usernameText">
        <p-message severity="error" text="unavailable"></p-message>

      </p>
      <p>Your friends : {{ studentFriendsList.summary['total_count'] }}</p>
      <button class="button is-primary" [disabled]="!usernameAvailable || !usernameText" (click)="setName()">
        Select Username
      </button>
    </div>
  </ng-template>
</div>