<div class="segment">
  <div class="ui form">
    <div class="field">
      <label>Publier pour votre classe</label>
      <textarea rows="3" #postContent></textarea>
    </div>
    <div class="ui submit button primary" (click)="add(postContent.value); postContent.value=''">Envoyer</div>
  </div>
</div>

<div class="ui horizontal divider header">
  <!-- divider -->Activité da ma classe
</div>

<div class="ui feed">
  <div *ngFor="let post of posts" class="event">
    <div class="label">
      <img src="{{showCredentialFromStudent(post.id_student, 'avatar')}}">
    </div>
    <div class="content">
      <div class="summary">
        <a routerLink="/profile/{{post.id_student}}">{{showCredentialFromStudent(post.id_student, 'name')}}</a> {{post.type}}
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        {{post.content}}
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon" (click)="updateLike(post.id)"></i> {{showNumberOfLike(post.id)}} Likes
        </a>
      </div>
    </div>
  </div>
</div>

