<div class="ui container">
 
 <div class="ui segment" id="example1">
  <div class="left ui rail">
    <p></p>
    <p></p>
    <p></p>
    <div class="ui sticky">
      <h3 class="ui header">Mes camarades</h3>
      <img>
     <div class="ui divided list">
      <div class="item">
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/helen.jpg">
        <div class="content">
          <div class="header">Snickerdoodle</div>
          An excellent companion
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/daniel.jpg">
        <div class="content">
          <div class="header">Poodle</div>
          A poodle, its pretty basic
        </div>
      </div>
      <div class="item">
        <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
        <div class="content">
          <div class="header">Paulo</div>
          He's also a dog
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="right ui rail">
    <div class="ui sticky">
      <h3 class="ui header">Tendances actuelles</h3>
      <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
  </div>
     
     <div class="segment">
         <div class="ui form">
          <div class="field">
            <label>Publier pour votre classe</label>
            <textarea rows="3"></textarea>
          </div>
          <div class="ui submit button primary">Envoyer</div>
        </div>
     </div>
     
       <div class="ui horizontal divider header">
        <!-- divider --> Activité da ma classe
      </div>
     
     <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Elliot Fu
            </a> added you as a friend
            <div class="date">
              1 Hour Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 4 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="https://semantic-ui.com/images/avatar/small/helen.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Helen Troy</a> added <a>2 new illustrations</a>
            <div class="date">
              4 days ago
            </div>
          </div>
          <div class="extra images">
            <a><img src="https://semantic-ui.com/images/wireframe/image.png"></a>
            <a><img src="https://semantic-ui.com/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 1 Like
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Jenny Hess
            </a> added you as a friend
            <div class="date">
              2 Days Ago
            </div>
          </div>
          <div class="meta">
            <a class="active like">
              <i class="like icon"></i> 8 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Joe Henderson</a> posted on his page
            <div class="date">
              3 days ago
            </div>
          </div>
          <div class="extra text">
            Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 5 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="https://semantic-ui.com/images/avatar/small/justen.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Justen Kitsune</a> added <a>2 new photos</a> of you
            <div class="date">
              4 days ago
            </div>
          </div>
          <div class="extra images">
            <a><img src="https://semantic-ui.com/images/wireframe/image.png"></a>
            <a><img src="https://semantic-ui.com/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 41 Likes
            </a>
          </div>
        </div>
      </div>
    </div> 
     
     <div class="ui horizontal divider header">
        <!-- divider --> <i class="angle double down icon"></i>
      </div>
     
 </div>    
</div>

