<div class="ui container">
 
 <div class="ui segment" id="example1">
  <div class="left ui rail">
    <p></p>
    <p></p>
    <p></p>
    <div class="ui sticky">
      <h3 class="ui header">Mes camarades</h3>
     
        <app-student></app-student>
    
    </div>
  </div>
  <div class="right ui rail">
    <div class="ui sticky">
      <h3 class="ui header">Tendances actuelles</h3>
      <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
  </div>
     
     <div class="segment">
         <div class="ui form">
          <div class="field">
            <label>Publier pour votre classe</label>
            <textarea rows="3"></textarea>
          </div>
          <div class="ui submit button primary">Envoyer</div>
        </div>
     </div>
     
       <div class="ui horizontal divider header">
        <!-- divider --> Activité da ma classe
      </div>
     
      <app-post></app-post>
     
     <div class="ui horizontal divider header">
        <!-- divider --> <i class="angle double down icon"></i>
      </div>
     
 </div>    
</div>

